include ../../components/action/action.pug
include ../../components/input/input.pug
include ../../components/counter/counter.pug
mixin dropdown(options={}, counter_options={}, input_options={})
  -
    var counter_options = counter_options
    var input_options = input_options
    var wrapper_classes = 'dropdown-wrapper'
    wrapper_classes += options.width ? ' dropdown-wrapper_' + options.width : ''
  div(class=wrapper_classes)
    +input({icon: 'tip', text: input_options.text, type: 'dropdown'})
    div(class='dropdown-countwrapper dropdown-countwrapper_collapsed')
      +counter(counter_options)
      if (options.buttons==true)
        div(class="button-wrapper")
          div(class='dropdown-clean')
            +action({text: 'очистить', textcolor: 'grey'})
          div(class='dropdown-submit')
            +action({text: 'применить', textcolor: 'purple'})
  input(class='datepicker-plain')
  input(class='datepicker-range')
  input(class='datepicker-visible')