

/* HTML5 display-role reset for older browsers */
.datastorage{
	display: none;
}

div[data-width="320"]{
	width: 320px;
}

div[data-width="266"]{
	width: 266px;
}

.dropdown-wrapper{
	box-sizing:border-box;
	border: 1px solid @color_grey_opaque;
	border-radius: 3px;
	padding: 0 10px 0 15px;
	text-transform: uppercase;
	font-size: 12px;
  	font-family: "Montserrat Bold", Arial, sans-serif;

}

.dropdown-header{
	height: 44px;
	display: flex;
	//justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-family: "Montserrat", Arial, sans-serif;
	text-transform: lowercase;
	color: @color_grey_opaque;
}

.toggle-wrapper{
	border: 1px solid black;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.dropdown-toggle{
	background-image:url('./images/arrow-down.svg'); 
	background-repeat:no-repeat; 
	width:12px; 
	height:8px;
	
	border: 1px solid orange;


}

.dropdown-categories{
	border: 1px solid blue;
}

.category-type{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category-counter{
	border: 1px solid red;
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdown-minus, .dropdown-plus {
	width:30px; 
	height:30px;  
	display:inline-flex; 
	align-items: center;
	justify-content: center;
	cursor:pointer; 
	border-radius:50%; 
	border: 1px solid rgba(31, 32, 65, 0.25);
	color: rgba(31, 32, 65, 0.25);
	font-size: 18px;
	font-family: "Montserrat", Arial, sans-serif;
}

.dropdown-footer {
	border: 1px solid  green;
	height: 44px;
}

.button-wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;

}







