.dropdown-wrapper{
  &_wide {
    width: 320px;
  }
  &_narrow {
    width: 266px;
  }
}


.dropdown-countwrapper{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid $color_grey_lightopaque;
  border-right: 1px solid $color_grey_lightopaque;
  border-bottom: 1px solid $color_grey_lightopaque;
  box-sizing: border-box;

  &_collapsed{
    display: none;
  }
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  margin:13px 6px 12px 13px;
}