.dropdown-wrapper{
  position: relative;
  & .input-wrapper  .input-label .input{
    width: 166px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_wide {
    width: 320px;
  }
  &_narrow {
    width: 266px;
  }
}


.dropdown-countwrapper{
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid $color_grey_lightopaque;
  border-right: 1px solid $color_grey_lightopaque;
  border-bottom: 1px solid $color_grey_lightopaque;
  box-sizing: border-box;
  //z-index: 10;
  background-color: $color_white;

  &_wide {
    width: 320px;
  }
  &_narrow {
    width: 266px;
  }

  &_collapsed{
    display: none;
  }
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  margin:13px 6px 12px 13px;
}