.dropdown-wrapper{
  position: relative;
  & .input-wrapper[data-type='dropdown']  .input-label .input{
    padding-right: 33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     }
  &_wide {
    width: 320px;
  }
  &_narrow {
    width: 266px;
  }

}


.dropdown-countwrapper{
  position: absolute;
  z-index: 6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid $color_grey_opaque;
  border-right: 1px solid $color_grey_opaque;
  border-bottom: 1px solid $color_grey_opaque;
  box-sizing: border-box;
  background-color: $color_white;

  &_wide {
    width: 320px;
  }
  &_narrow {
    width: 266px;
  }

  &_collapsed{
    display: none;
  }
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  margin:13px 6px 12px 13px;
}

