include ../../components/radio/radio.pug
mixin radioblock(options={}, categories={})
  div(class="radioblock__wrapper")= options.label
  div(class="radioblock")
    each val in categories
      +radio({name: options.name, value: val.value, id: val.id, labeltext: val.labeltext, checked: val.checked})