include ../../components/materialicons/materialicons.pug
mixin pagination(options={})
  -
  ul(class="page-wrapper")
    li(class="page page_active") 1
    li(class="page page_inactive") 2
    li(class="page page_inactive") 3
    li(class="page page-interval") ...
    li(class="page page_inactive") 15
    li(class="page page-move")
      +materialicons({type: 'arrow_forward', color: 'white', size: 'base'})