body {
  background: #333;
  font-family: sans-serif;
  overflow: hidden;
}

@keyframes cdp-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.cdp {
  position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: 0;
  z-index: 6;
  margin: 50px 0;
  animation: cdp-in 500ms ease both;
  animation-timeout: 200ms;
}
.cdp_i {
  font-size: 14px;
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 3px 6px;
  height: 38px;
  min-width: 38px;
  border-radius: 38px;
  border: 2px solid #fff;
  line-height: 38px;
  padding: 0;
  color: #fff;
  font-weight: 700;
  letter-spacing: .03em;
  display: none;
}
.cdp_i:first-child, .cdp_i:last-child {
  padding: 0 16px;
  margin: 0 12px 6px;
}
.cdp_i:last-child, .cdp_i:nth-child(2), .cdp_i:nth-last-child(2) {
  display: inline-block;
}
.cdp_i:hover {
  background-color: #000;
  color: #fff;
}
.cdp:not([actpage="1"]) .cdp_i:nth-child(1) {
  display: inline-block;
}

.cdp[actpage="1"] .cdp_i:nth-child(-1):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="1"] .cdp_i:nth-child(-1):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="1"] .cdp_i:nth-child(0):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(1):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(2) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(2) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="1"] .cdp_i:nth-child(3):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(4):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(5):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="1"] .cdp_i:nth-child(5):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="2"] .cdp_i:nth-child(0):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="2"] .cdp_i:nth-child(0):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="2"] .cdp_i:nth-child(1):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(2):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(3) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(3) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="2"] .cdp_i:nth-child(4):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(5):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(6):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="2"] .cdp_i:nth-child(6):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="3"] .cdp_i:nth-child(1):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="3"] .cdp_i:nth-child(1):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="3"] .cdp_i:nth-child(2):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(3):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(4) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(4) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="3"] .cdp_i:nth-child(5):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(6):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(7):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="3"] .cdp_i:nth-child(7):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="4"] .cdp_i:nth-child(2):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="4"] .cdp_i:nth-child(2):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="4"] .cdp_i:nth-child(3):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(4):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(5) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(5) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="4"] .cdp_i:nth-child(6):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(7):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(8):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="4"] .cdp_i:nth-child(8):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="5"] .cdp_i:nth-child(3):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="5"] .cdp_i:nth-child(3):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="5"] .cdp_i:nth-child(4):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(5):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(6) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(6) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="5"] .cdp_i:nth-child(7):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(8):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(9):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="5"] .cdp_i:nth-child(9):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="6"] .cdp_i:nth-child(4):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="6"] .cdp_i:nth-child(4):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="6"] .cdp_i:nth-child(5):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="6"] .cdp_i:nth-child(6):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="6"] .cdp_i:nth-child(7) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="6"] .cdp_i:nth-child(7) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="6"] .cdp_i:nth-child(8):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="6"] .cdp_i:nth-child(9):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="6"] .cdp_i:nth-child(10):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="6"] .cdp_i:nth-child(10):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="7"] .cdp_i:nth-child(5):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="7"] .cdp_i:nth-child(5):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="7"] .cdp_i:nth-child(6):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="7"] .cdp_i:nth-child(7):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="7"] .cdp_i:nth-child(8) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="7"] .cdp_i:nth-child(8) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="7"] .cdp_i:nth-child(9):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="7"] .cdp_i:nth-child(10):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="7"] .cdp_i:nth-child(11):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="7"] .cdp_i:nth-child(11):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="8"] .cdp_i:nth-child(6):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="8"] .cdp_i:nth-child(6):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="8"] .cdp_i:nth-child(7):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="8"] .cdp_i:nth-child(8):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="8"] .cdp_i:nth-child(9) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="8"] .cdp_i:nth-child(9) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="8"] .cdp_i:nth-child(10):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="8"] .cdp_i:nth-child(11):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="8"] .cdp_i:nth-child(12):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="8"] .cdp_i:nth-child(12):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="9"] .cdp_i:nth-child(7):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="9"] .cdp_i:nth-child(7):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="9"] .cdp_i:nth-child(8):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="9"] .cdp_i:nth-child(9):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="9"] .cdp_i:nth-child(10) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="9"] .cdp_i:nth-child(10) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="9"] .cdp_i:nth-child(11):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="9"] .cdp_i:nth-child(12):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="9"] .cdp_i:nth-child(13):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="9"] .cdp_i:nth-child(13):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="10"] .cdp_i:nth-child(8):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="10"] .cdp_i:nth-child(8):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="10"] .cdp_i:nth-child(9):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="10"] .cdp_i:nth-child(10):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="10"] .cdp_i:nth-child(11) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="10"] .cdp_i:nth-child(11) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="10"] .cdp_i:nth-child(12):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="10"] .cdp_i:nth-child(13):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="10"] .cdp_i:nth-child(14):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="10"] .cdp_i:nth-child(14):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="11"] .cdp_i:nth-child(9):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="11"] .cdp_i:nth-child(9):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="11"] .cdp_i:nth-child(10):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="11"] .cdp_i:nth-child(11):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="11"] .cdp_i:nth-child(12) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="11"] .cdp_i:nth-child(12) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="11"] .cdp_i:nth-child(13):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="11"] .cdp_i:nth-child(14):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="11"] .cdp_i:nth-child(15):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="11"] .cdp_i:nth-child(15):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="12"] .cdp_i:nth-child(10):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="12"] .cdp_i:nth-child(10):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="12"] .cdp_i:nth-child(11):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="12"] .cdp_i:nth-child(12):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="12"] .cdp_i:nth-child(13) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="12"] .cdp_i:nth-child(13) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="12"] .cdp_i:nth-child(14):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="12"] .cdp_i:nth-child(15):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="12"] .cdp_i:nth-child(16):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="12"] .cdp_i:nth-child(16):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="13"] .cdp_i:nth-child(11):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="13"] .cdp_i:nth-child(11):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="13"] .cdp_i:nth-child(12):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="13"] .cdp_i:nth-child(13):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="13"] .cdp_i:nth-child(14) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="13"] .cdp_i:nth-child(14) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="13"] .cdp_i:nth-child(15):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="13"] .cdp_i:nth-child(16):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="13"] .cdp_i:nth-child(17):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="13"] .cdp_i:nth-child(17):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="14"] .cdp_i:nth-child(12):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="14"] .cdp_i:nth-child(12):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="14"] .cdp_i:nth-child(13):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="14"] .cdp_i:nth-child(14):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="14"] .cdp_i:nth-child(15) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="14"] .cdp_i:nth-child(15) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="14"] .cdp_i:nth-child(16):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="14"] .cdp_i:nth-child(17):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="14"] .cdp_i:nth-child(18):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="14"] .cdp_i:nth-child(18):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

.cdp[actpage="15"] .cdp_i:nth-child(13):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="15"] .cdp_i:nth-child(13):not(:first-child):not(:nth-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="15"] .cdp_i:nth-child(14):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="15"] .cdp_i:nth-child(15):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="15"] .cdp_i:nth-child(16) {
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="15"] .cdp_i:nth-child(16) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="15"] .cdp_i:nth-child(17):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="15"] .cdp_i:nth-child(18):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="15"] .cdp_i:nth-child(19):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="15"] .cdp_i:nth-child(19):not(:last-child):not(:nth-last-child(2)):after {
  content: '...';
  color: #fff;
  font-size: 32px;
  margin-left: -6px;
}

