mixin materialicons({ type, color, size, }={})
    - let colorModifier = ''
    - let sizeModifier = ''
    case color
        when 'grey'
            - colorModifier = ' maticons-grey'
        when 'purple-gradient'
            - colorModifier = ' maticons-gradient'
        when 'purple'
            - colorModifier = ' maticons-purple'
        when 'white'
            - colorModifier = ' maticons-white'
    case size
        when 'base'
            - sizeModifier = ' maticons-base'
        when 'small'
            - sizeModifier = ' maticons-small'
        
    i.maticons(class=`${colorModifier}${sizeModifier}`)= type