.material-icons {
    display: inline-block;
    font-family: 'MaterialIcons-Regular';
    // font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    //colors icons

/*        	&__color-dark-shade-lighten {
    		color: $dark-shade--lighten;
			}
			&__color-gradient {
			    background: $main-gradient;
			    background-clip: text;
			}
			&__color-purple {
			    color: $purple; 
			} */
        &__color-white {
            color: @color_white;
        }
        //size icons
        &__size-small {
            font-size: 10px;
        }
        &__size-base {
            font-size: 24px;
        }
}

