.maticons {
    display: inline-block;
    font-family: 'MaterialIcons-Regular';
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
        &-white {
            color: @color_white;
        }
        &-purple {
            color: @color_purple;
        }
        &-grey {
            color: @color_grey_opaque;;
        }
        &-small {
            font-size: 12px;
        }
        &-base {
            font-size: 24px;
        }
}

