.landing-page{
  background-image: url(img/background_landing.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 831px;
  margin-bottom: 100px;
  position: relative;
    & .form-wrapper{
      position: absolute;
      left: 10%;
      top: 8%;
    }
}



@media screen and (max-width: 1310px){

}