extends ../../pages/layout/layout.pug
block title
  title Landing page
block content
  include ../../components/card/card.pug
  section(class="landing-page")
    div(class="form-wrapper")
      +card1()