mixin menuitem(options={})
  -
    var li_classes="menuitem"
    li_classes += options.is_vertical ? ' menuitem-vertical' : ''
  li(class=li_classes)
   a(href="" class="menuitem__link")=options.text
   if options.tip
     +materialicons({
                     type: 'keyboard_arrow_down',
                     color: 'grey',
                     size: 'base',
                    })