.menuitem{
  display: flex;
  margin-left: 21px;
  &-vertical{
    margin-left: 0!important;
    margin-top: 20px;
  }
}

.menuitem__link{
  @include font__Montserrat_grey;
  text-decoration: none;
  list-style: none;
  white-space: nowrap;
}

.menuitem__link:hover{
  @include font__Montserrat_darkgrey;
  font-weight: bolder;
}


.menuitem i{
  margin-top: -2px;
  cursor: pointer;
}