mixin input(options)
  if !options
    - options = {}
  -
    var icon = options.icon
  div(class='input-wrapper')
    label(class='input-label')
      input(class='input')
      if icon === 'tip'
        +materialicons({
                    type: 'keyboard_arrow_down',
                    color: 'grey',
                    size: 'base',
                })
      else if icon === 'arrow'
        +materialicons({
                    type: 'arrow_forward',
                    color: 'purple',
                    size: 'base',
                })


