mixin input(options)
  if !options
    - options = {}
  -
    var icon = options.icon
    var text = options.text
    var type = options.type
    var input_classes = 'input'
    var input_wrapper_classes = 'input-wrapper input-wrapper_collapsed'
    //var input_classes = 'input input__calendar-range'
    input_classes += options.input_type ? ' input__' + options.input_type : ''
    input_wrapper_classes += options.length ? ' input-wrapper_' + options.length : ''
  div(class=input_wrapper_classes data-type=type)
    label(class='input-label')
      input(class=input_classes type='text' value=text)
      if icon === 'tip'
        +materialicons({
                    type: 'keyboard_arrow_down',
                    color: 'grey',
                    size: 'base',
                })
      else if icon === 'arrow'
        +materialicons({
                    type: 'arrow_forward',
                    color: 'purple',
                    size: 'base',
                })


