input{
  cursor: default;
  border:none;
  outline: none;
  &:focus{
    color: $color_grey_opaque;
  }
}
.input{
  @include font_body;
  padding-top: 9px;
  //padding-left: 14px;
  text-indent: 14px;
  width: 100%;



  &-label{
   width: 100%;
  }

  &__datepicker-visible{
    display: none;
  }


}
.input-wrapper{
  cursor: pointer!important;
  height: 44px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid $color_grey_lightopaque;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
   &:hover{
     border-color: $color_grey_opaque;;
   }

  &-focused{
    border-color: $color_grey_opaque;;
  }

  &[data-type='checklistexpand']{
    border: none!important;
  }

  &[data-type='checklistexpand']>.input-label>.input::-webkit-input-placeholder{
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    color: $color_black;
    text-indent: 0px;
     }

   &[data-type='plaintext']>.input-label>.input::-webkit-input-placeholder{
    color: $color_grey_lightopaque;
}
  &[data-type='plaintext']>.input-label>.input::-moz-placeholder{
    color: $color_grey_lightopaque;
  }
  &[data-type='maskedtext']>.input-label>.input::-webkit-input-placeholder{
    color: $color_grey_lightopaque;
  }
  &[data-type='maskedtext']>.input-label>.input::-moz-placeholder{
    color: $color_grey_lightopaque;
  }


  &_collapsed{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }


  &_short{
    width: 150px;
    box-sizing: border-box;
  }

  &_medium{
    width: 266px;
    box-sizing: border-box;
  }

  &_long{
    width: 320px;
    box-sizing: border-box;
  }

  i {
    position: absolute;
    right: 8px;
    top: 9px;
  }
}


