mixin input(options)
  if !options
    - options = {}
  -
    var icon = options.icon
    var text = options.text
    var type = options.type
  div(class='input-wrapper' data-type=type)
    label(class='input-label')
      input(class='input' type='text' value=text)
      if icon === 'tip'
        +materialicons({
                    type: 'keyboard_arrow_down',
                    color: 'grey',
                    size: 'base',
                })
      else if icon === 'arrow'
        +materialicons({
                    type: 'arrow_forward',
                    color: 'purple',
                    size: 'base',
                })


