input{
  border:none;
  outline: none;
  &:focus{
    color: $color_grey_opaque;
  }
}

.inpwrapper {
  height: 44px;
  border-radius: 5px;
  border: 1px solid $color_grey_lightopaque;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &:focus{
    border: 1px solid $color_grey_opaque;
    box-sizing: border-box;
  }

  &-short{
    width: 150px;
    box-sizing: border-box;
  }

  &-medium{
    width: 266px;
    box-sizing: border-box;
  }

  &-long{
    width: 320px;
    box-sizing: border-box;
  }

  & span{
    @include font__Montserrat_lightgrey;
    font-size: 14px;
    text-transform: lowercase;
    display: inline-block;
   // margin-top: 13px;
  }
  i {
    position: absolute;
    right: 8px;
    top: 9px;
  }
}

/* .inpwrapper i {
  position: absolute;
  right: 8px;
  top: 9px;
} */
.inp{
width: 100%;
@include font__Montserrat_lightgrey;
font-size: 14px;
padding-left: 15px;
}

.checklist__inpwrapper{
 border: none;
}
.checklist-input{
  text-transform: uppercase;
  padding-left: 0px!important;
  font-size: 12px;
  @include font__MontserratBold_black;
}

.counter-inpwrapper{
  display: flex;
  align-items: center;
}
.val1{
  padding-left: 15px;
}
.text1,
.text2, 
.text3{
    padding-left: 5px;
}

.input__label {
  @include label();
}

