input{
  border:none;
  outline: none;
  &:focus{
    color: $color_grey_opaque;
  }
}

.input-wrapper{
  height: 44px;
  border-radius: 5px;
  border: 1px solid $color_grey_lightopaque;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &:focus{
    border: 1px solid $color_grey_opaque;
    box-sizing: border-box;
  }

  &-short{
    width: 150px;
    box-sizing: border-box;
  }

  &-medium{
    width: 266px;
    box-sizing: border-box;
  }

  &-long{
    width: 320px;
    box-sizing: border-box;
  }

  i {
    position: absolute;
    right: 8px;
    top: 9px;
  }
}
