input{
  border:none;
  outline: none;
}

.inpwrapper {
  height: 44px;
  border-radius: 5px;
  border: 1px solid @color_grey_opaque;
  display: flex;
  position: relative;
  overflow: hidden;

  &-short{
    width: 150px;
  }

  &-medium{
    width: 266px;
  }

  &-long{
    width: 320px;
  }
}

.inpwrapper i {
  position: absolute;
  right: 8px;
  top: 9px;
}
.inp{
width: 100%;
.font__Montserrat_darkgrey();
font-size: 14px;
padding-left: 15px;
}

.checklist__inpwrapper{
 border: none;
}
.checklist-input{
  text-transform: uppercase;
  padding-left: 0px!important;
  font-size: 12px;
  .font__MontserratBold_black();
}

