include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/button/button.pug
block serv
  -var serv
  div(class="headers__wrapper")
    +header()
    +header({isAuthorized: true})

