* {
	box-sizing: border-box;
}
:root {
	--background-range: green;
}
.rs__wrapper {
	padding: 30px;
	//width: 300px;
	width: 100%;
	position: relative;
}
.rs__rangeWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;

	//	flex-direction: column;
}

.rs__slider {
	position: relative;
	height: 6px;
	background: #a4a4a4;
	//border: 1px solid #000;
	display: flex;
	//	justify-content: space-between;
}
.rs__progressBar {
	position: absolute;
	background: var(--background-range, #000);
	width: 95%;
	border: none;
	height: 6px;
	left: 15px;
}

// .rs__progressBar-double {
// 	position: absolute;
// }

// .rs__progressBar-single {
// 	position: static;
// }
.rs__control {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: -11.5px;
	background: green;
	//	border: 1px solid #000;
	border-radius: 50%;
	z-index: 1;
	//	box-sizing: border-box;
}
.rs__control-max {
	//	left: 95%;
}

.rs__control-hidden {
	display: none;
}

.rs__value {
	position: absolute;
	top: -30px;
	font-size: 14px;
	width: 30px;
}

.rs__range {
	width: 30px;
}

.rs__panelWrapper {
	border: 1px solid red;
	position: absolute;
	bottom: 120px;
	left: 250px;
	display: flex;
	//justify-content: space-between;
}

.rs__panel {
	border: 1px solid red;
	width: 50px;
	//position: absolute;
	// bottom: 120px;
	// left: 250px;
}

.rs__mark {
	margin-top: 8px;
	height: 5px;
	//width: 2px;
	//position: absolute;
	//border: 1px solid blue;
	//	box-sizing: border-box;
	background-color: #000;
}
