mixin testslider(options={})
	div(class="rs__filter")
		div
			span Фильтр
			div
				number 5
				number 10
			div(id="rs__rating" class="rs__slider")
				div(class="rs__control rs__control-min")
					div(class="rs__value rs__value-min")
				div(class="rs__colorRange")
				div(class="rs__control rs__control-max")
					div(class="rs__value rs__value-max")
