include ../../components/materialicons/materialicons.pug
mixin button(options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.backgroundcolor ? ' btn-' + options.backgroundcolor : ''
    classes += options.length ? ' btn-' + options.length : ''
    classes += options.isplain ? ' btn-' + options.isplain : ''
    classes += options.color ? ' btn-' + options.color : ''
    classes += options.like==true ? ' btn__like' : ''
  div.btn(class=classes)(
    href = options.href || "/mock-address/change-me"
  )= options.text
    if options.arrow==true
      div(class="arrow-wrapper")
        +materialicons({
                    type: 'arrow_forward',
                    color: 'white',
                    size: 'base',
                })
    if options.like==true
      div(class="like__wrapper")
        div(class="like__heart")
          +materialicons({
                    type: 'favorite_border',
                    color: 'grey',
                    size: 'small',
                })
        span(class="like__number") 0