.checklist{
  width: 260px;
  margin-top: 15px;
  &-exp {
    &_collapsed{
      display: none!important;
          }
    display: none;
  }
  &__interval{
    margin-top: -5px;
  }
  &__label{
    @include label();
  }
}