include ../../components/input/input.pug
include ../../components/checkbox/checkbox.pug
include ../../components/label/label.pug
mixin checklist_expand(options={}, categories=[])
  -
    var label = options.label
  +input({type: 'checklistexpand', subtype: 'checklistexpand', icon: 'tip', length: 'medium', text: label, readonly: 'readonly'})
  ul(class="checklist checklist-exp")
    each val in categories
      +checkbox({toptext: val})



mixin checklist_rich(options={}, categories={})
  -
  +label({label: options.label})
  ul(class="checklist")
    each val, index in categories
      +checkbox({labelbottom: true, toplabel: 'bold', toptext: index, bottomtext: val})
      div(class="checklist__interval")





mixin checklist(options={}, categories=[])
  +label({label: options.label})
  ul(class="checklist")
    each val in categories
      +checkbox({toptext: val})


