a(href='cards.html') cards
br
a(href='colorsType.html') colorsType
br
a(href='formElements.html') formElements
br
a(href='headersFooters.html') headersFooters
br
a(href='layout.html') layout
br
a(href='landing_page.html') landing page
br
a(href='registration.html') registration
br
a(href='sign_in.html') sign in