.grid{
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid red;
	justify-content: space-between;
	max-width: 1010px;
	margin: 0 auto;

}

.cell{
	border: 1px solid green;
	&-inner{
	display: flex;
	flex-wrap: wrap;
	//width: 33%;
	flex-shrink: 1;
	flex-grow: 1;

	}
}