include ../../components/action/action.pug
include ../../components/buttonwrapper/buttonwrapper.pug
include ../../components/buttonlike/buttonlike.pug
include ../../components/buttonaction/buttonaction.pug
include ../../components/pagination/pagination.pug
include ../../components/rangeslider/rangeslider.pug
include ../../components/calendar/calendar.pug
include ../../components/input/input.pug
include ../../components/checklist/checklist.pug
include ../../components/radioblock/radioblock.pug
include ../../components/toggle/toggle.pug
include ../../components/starrating/starrating.pug
include ../../components/info/info.pug
include ../../components/feature/feature.pug
include ../../components/feedback/feedback.pug
include ../../components/bulletlist/bulletlist.pug
include ../../components/card/card.pug
include ../../components/calendarblock/calendarblock.pug
include ../../components/slickslider/slickslider.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug

block serv
  -var serv
  +input({label: 'text field', type: 'plaintext', icon: 'arrow', length: 'long', text: 'E-mail'})
  +input({label: 'masked text field', type: 'maskedtext', length: 'long', text: 'ДД.ММ.ГГГГ.'})
  +calendarblock()
  +calendar({type: 'datefilter-range'})
  +input({label: 'subscription text field', type: 'plaintext', icon: 'arrow', length: 'medium', text: 'E-mail'})
  +dropdown({width: 'narrow'}, {'спальни': '2', 'кровати': '2', 'ванные комнаты': '0'}, {text: '2 спальни, 2 кровати...',})
  +checklist_expand({label: 'expandable checkbox list'}, ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь',])
  +feature({icon: 'mood', headertext: 'Комфорт', bodytext: 'Шумопоглащающие стены',})
  +feature({icon: 'location_city', headertext: 'Удобство', bodytext: 'Окно в каждой из спален',})
  +feature({icon: 'whatshot', headertext: 'TO_DELETE', bodytext: 'bodytext',})
  +checklist({label: 'checkbox buttons'}, ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
  div(class="def def-1") radio buttons
  +radioblock({name:'radioblock'}, [{value: '1', id: '1', labeltext: 'Мужчина', checked: 'checked'}, {value: '2', id: '2', labeltext: 'Женщина'}])
  div(class="def def-2") toggle
  +toggle({labeltext: 'Получать спецпредложения'})
  div(class="def def-3") like button
  +buttonlike()
  +starrating({label: 'rate button'})
  +dropdown({width: 'wide', buttons: true}, {'взрослые': '0', 'дети': '0', 'младенцы': '0',}, {text: 'Сколько гостей', })
  +checklist_rich({label: 'rich checkbox buttons'}, {'Широкий коридор': 'Ширина коридора в номере не менее 91 см.', 'Помощник для инвалидов': 'На 1 этаже вас встретит специалист и проводит до номера.',})
  +rangeslider({label: 'range slider'})
  div(class="def def-14") buttons
  +button({length: 'short', width: 'wide', backgroundcolor: 'purple', text: 'click me'})
  +button({length: 'short', width: 'wide', backgroundcolor: 'white', text: 'click me'})
  +action({text: 'click me', textcolor: 'grey'})
  +action({text: 'click me', textcolor: 'purple'})
  +button({length: 'long', width: 'wide', backgroundcolor: 'purple', icon: 'arrow', text: 'перейти к оплате'})
  div(class="def def-18") pagination
  +pagination()
  div(class="def def-23") bullet list
  +bulletlist({label: 'bullet list'}, ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия - после 13:00, а выезд - до 12:00',])
  +feedback({imgpath: 'images/murad.jpg', name: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})





