include ../../components/action/action.pug
include ../../components/buttonwrapper/buttonwrapper.pug
include ../../components/buttonlike/buttonlike.pug
include ../../components/buttonaction/buttonaction.pug
include ../../components/pagination/pagination.pug
include ../../components/rangeslider/rangeslider.pug
include ../../components/calendar/calendar.pug
include ../../components/input/input.pug
include ../../components/checklist/checklist.pug
include ../../components/radioblock/radioblock.pug
include ../../components/toggle/toggle.pug
include ../../components/starrating/starrating.pug
include ../../components/info/info.pug
include ../../components/feature/feature.pug
include ../../components/feedback/feedback.pug
include ../../components/bulletlist/bulletlist.pug
include ../../components/card/card.pug
include ../../components/calendarblock/calendarblock.pug
include ../../components/slickslider/slickslider.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/label/label.pug
include ../../components/logo/logo.pug

block serv
  -var serv
  +logo-grey()
  div(class="formelements__wrapper")
    div(class="formelements__col-wrapper")
      div(class='formelements__col')
        div(class='formelements__card ')
          +input({label: 'text field', type: 'plaintext', icon: 'arrow', length: 'long', text: 'E-mail'})
        div(class='formelements__card')
          +input({label: 'masked text field', type: 'maskedtext', length: 'long', text: 'ДД.ММ.ГГГГ.'})
        div(class='formelements__card')
          +calendarblock()
        div(class='formelements__card')
          +calendar({type: 'datefilter-range'})
        div(class='formelements__card')
          +input({label: 'subscription text field', type: 'plaintext', icon: 'arrow', length: 'medium', text: 'E-mail'})
        div(class='formelements__card')
          +dropdown({width: 'narrow'}, {'спальни': '2', 'кровати': '2', 'ванные комнаты': '0'}, {text: '2 спальни, 2 кровати...',})
        div(class='formelements__card')
          +checklist_expand({label: 'expandable checkbox list'}, ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь',])
        div(class='formelements__card')
          +feature({icon: 'mood', headertext: 'Комфорт', bodytext: 'Шумопоглащающие стены',})
        div(class='formelements__card')
          +feature({icon: 'location_city', headertext: 'Удобство', bodytext: 'Окно в каждой из спален',})
        div(class='formelements__card')
          +feature({icon: 'whatshot', headertext: 'TO_DELETE', bodytext: 'bodytext',})
      div(class='formelements__col')
        div(class='formelements__card')
          +checklist({label: 'checkbox buttons'}, ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
        div(class='formelements__card')
          +label({label: 'radio buttons'})
          +radioblock({name:'radioblock'}, [{value: '1', id: '1', labeltext: 'Мужчина', checked: 'checked'}, {value: '2', id: '2', labeltext: 'Женщина'}])
        div(class='formelements__card')
          +label({label: 'toggle'})
          +toggle({labeltext: 'Получать спецпредложения'})
        div(class='formelements__card')
          +label({label: 'like button'})
          +buttonlike()
        div(class='formelements__card')
          +label({label: 'rate button'})
          +starrating()
        div(class='formelements__card')
          +dropdown({width: 'wide', buttons: true}, {'взрослые': '0', 'дети': '0', 'младенцы': '0',}, {text: 'Сколько гостей', })
        div(class='formelements__card')
          +checklist_rich({label: 'rich checkbox buttons'}, {'Широкий коридор': 'Ширина коридора в номере не менее 91 см.', 'Помощник для инвалидов': 'На 1 этаже вас встретит специалист и проводит до номера.',})
      div(class='formelements__col')
        div(class='formelements__card')
          +rangeslider({label: 'range slider'})
        div(class='formelements__card')
          +label({label: 'buttons'})
          +button({length: 'short', width: 'wide', backgroundcolor: 'purple', text: 'click me'})
        div(class='formelements__card')
          +button({length: 'short', width: 'wide', backgroundcolor: 'white', text: 'click me'})
        div(class='formelements__card formelements__card-1')
          +action({text: 'click me', textcolor: 'purple'})
          +action({text: 'click me', textcolor: 'grey'})
        div(class='formelements__card')
          +button({length: 'long', width: 'wide', backgroundcolor: 'purple', icon: 'arrow', text: 'перейти к оплате'})
        div(class='formelements__card')
          +pagination()
        div(class='formelements__card')
          +bulletlist({label: 'bullet list'}, ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия - после 13:00, а выезд - до 12:00',])
    div(class="col__wrapper")
      div(class='formelements__col')
        div(class='formelements__card')
            +feedback({imgpath: 'images/murad.svg', name: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})

