a(class="btn btn-purple btn-short" href="/mock-address/change-me")
  span(class="btn__text") click me
a(class="btn btn-white btn-short" href="/mock-address/change-me")
  span(class="btn__text") click me
a(class="btn btn-purple btn-long" href="/mock-address/change-me")
  span(class="btn__text") click me
a(class="btn btn-white btn-long" href="/mock-address/change-me")
  span(class="btn__text") click me
mixin btn(color)
  a
    if (color=='purple')
    a(class!=attributes.class)='btn btn-purple'
  +btn('purple')