.info{
  &__wrapper{
    color: @color_grey_opaque;
    font-size: 14px;
  }
  &__header{
    font-family: "Montserrat Bold", Arial, sans-serif;
    padding-bottom: 7px;
  }
  &__body{
  font-family: "Montserrat", Arial, sans-serif;
  }
}