p, ul{
  margin-block-start: 0!important;
  margin-block-end: 0!important;
  padding-inline-start: 0!important;
}



.counter{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;



  &-category{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat Bold", Arial, sans-serif;


    &__name{
      box-sizing: border-box;
      padding-top: 12px;
      padding-bottom: 10px;


    }
  }
}


.count{
  box-sizing: border-box;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 5px;

  &__minus{
    box-sizing: border-box;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_grey_lightopaque;
    color: $color_grey_opaque;

  }
  &__value{
    box-sizing: border-box;

  }
  &__plus{
    box-sizing: border-box;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_grey_opaque;
    color: $color_grey_opaque;

  }
}
