mixin counter(categories = [])
  -
    var minus = '-'
    var plus = '+'
  ul(class='counter')

    each val, index in categories
      li(class='counter-category')
        p(class='counter-category__name')=index
        div(class='count-wrapper')
          a(class='count count_decrem count_inactive')=minus
          span(class='count__value')=val
          a(class='count count_increm')=plus
