.buttonwrapper{
  position: relative;
  border: none;
  border-radius: 22px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  &-short{
    width: 100%;
    max-width: 39.72px;
    }
  &-mediumshort{
    width: 100%;
    max-width: 87px;
  }
  &-medium{
    width: 100%;
    max-width: 99px;
    }
  &-longmedium{
    width: 100%;
    max-width: 196px;
  }
  &-long{
    width: 100%;
    max-width: 320px;
    }
  &-wide{
    height: 44px;
  }
  &-mediumwide{
    height: 34px;
  }
  &-narrow{
    height: 20px;
  }
  &-purple{
    background: $gradient;
    &:hover{
      background: $gradient_opaque;
      }
    }
  &-grey{
    border: solid $button_border_width_thin $color_grey_opaque; /* !importanté */
      &::before {
        margin: -$button_border_width_thin; /* !importanté */
        background: $color_grey_opaque;
      }
    }
  &-white{
    position: relative;
    background: $color_white;
    background-clip: padding-box; /* !importanté */
    border: solid $button_border_width_thick transparent; /* !importanté */
      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$button_border_width_thick; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: $gradient;
        }
      &:hover{
        &::before{
          background: $gradient_opaque;
        }
      }
      }
    &-thin {
    border: solid $button_border_width_thin transparent!important; /* !importanté */
      &::before {
        margin: -$button_border_width_thin!important; /* !importanté */
      &:hover{
        &::before{
          background: $gradient_opaque;
        }
      }
      } 
    }
}

.icon__wrapper{
  position: absolute;
  right: 10px;
  top: 8px;
} 