.like{
  &__wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 10px;
    cursor: pointer;
    @include font__Montserrat_grey;
  }

  &__number{
    margin:  0 4px 0 6px;
  }

  &-added{
    color: $color_purple;
  }
}
