.slick-arrow {
	display: none !important;
}

.slickslider__wrapper {
	background-color: $color_white;
	width: 270px;
	height: 258px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	//border: 1px solid red;
}
.slider {
	width: 272px;
	//border: 10px solid red;
	//border-radius: 5px;
	position: relative !important;
	background-color: rgba(31, 32, 65, 0.05);
}

.slick-track {
	height: 152px !important;
	//border-color: #1F2041!important;
}

.slide {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.slick-dots {
	bottom: 8px;
	left: 200px;
	position: absolute !important;
	//border: 1px solid green;
	width: 50px;
}

li[role="presentation"] {
	width: 1px !important;
}

button[role="tab"]:before {
	content: "panorama_fish_eye" !important;
	font-family: "MaterialIcons" !important;
	font-size: 8px !important;
	color: $color_white !important;
	border-radius: 50%;
	//width: 5px!important;
	//height: 5px!important;
	opacity: 1 !important;
}

li.slick-active button[role="tab"]:before {
	content: "brightness_1" !important;
	font-family: "MaterialIcons" !important;
	font-size: 8px !important;
	color: $color_white !important;
	opacity: 1 !important;
}

.dtls__row {
	display: flex;
	margin-right: 15px;
	white-space: nowrap;
	//	border: 1px solid red;

	& > div {
		display: flex;
		//border: 1px solid red;
		line-height: initial !important;
	}
	&:nth-child(2) {
		margin-top: -5px;
		margin-bottom: 10px;
		justify-content: space-between;
	}
	&:nth-child(4) {
		margin-top: 8px;
		margin-left: 20px;
		justify-content: space-between;
	}
}

.dtls__line {
	width: 230px;
	height: 1px;
	//border: 1px solid $color_grey_opaque;
	background-color: rgba(31, 32, 65, 0.1);
	margin: 0 auto;
}

.dtls__sign {
	font-family: "Montserrat Bold", Arial, sans-serif;
	font-size: 14px;
	//line-height: 10px;
	// border: 1px solid red;
	//line-height: 10px;
	//vertical-align: bottom;
	margin: -2px 0px 0px 20px;

	//line-height: 17.5px;

	font-weight: initial !important;
	letter-spacing: initial !important;
	word-spacing: initial !important;
}
.dtls__number {
	//font-family: "Quicksand Bold", Arial, sans-serif !important;
	//font-size: 22px !important;
	//letter-spacing: -1px !important;
	@include font_h2;
	margin: -6px 0px 0px 4px;
	line-height: 24.5px !important;

	word-spacing: initial !important;
}
.dtls__lux {
	@include font_body;
	color: $color_purple;
	margin: -4px 0px 0px 2px;
	font-weight: bold !important;
	letter-spacing: initial !important;
	word-spacing: initial !important;
}

.dtls__price,
.dtls__reviewamount {
	font-family: "Montserrat Bold", Arial, sans-serif;
	color: $color_grey_opaque;
	font-size: 13px !important;
}

.dtls__price {
	//margin: 0px 0px 0px 39px;
	font-weight: initial !important;
	letter-spacing: initial !important;
	word-spacing: initial !important;
	//	border: 1px solid red;
}

.dtls__currency {
	font-family: "Montserrat Bold", Arial, sans-serif;
	color: $color_grey_opaque;
	font-size: 13px !important;
	margin: 0px 0px 0px 3px;
	font-weight: initial !important;
	letter-spacing: initial !important;
	word-spacing: initial !important;
}

.dtls__period,
.dtls__review {
	font-family: "Montserrat", Arial, sans-serif;
	color: $color_grey_opaque;
}

.dtls__period {
	margin: 0px 0px 5px 1px;
	letter-spacing: 0.5px !important;
	font-size: 12px !important;
	font-weight: initial !important;
	word-spacing: initial !important;
}

.dtls__review {
	margin: 2px 0px 0px 0px;
	padding: 0px 4px 0px 0px;
	letter-spacing: 0.5px !important;
	font-size: 13px !important;
	font-weight: initial !important;
	//letter-spacing: initial !important;
	//border: 1px solid green;
}

.dtls__reviewamount {
	margin: 2px 0px 0px 0px;
	padding: 0px 3px 0px 0px;
	font-weight: initial !important;
	//letter-spacing: initial !important;
	word-spacing: initial !important;
	//border: 1px solid red;
}

.dtls__rating i {
	font-family: "MaterialIcons" !important;
	color: $color_purple;
	font-size: 24px !important;
	font-weight: initial !important;
	letter-spacing: initial !important;
	word-spacing: initial !important;
	//word-spacing: -7px;
}
