@import "../components/btn/btn.less";
@import "../components/dropdown/dropdown.less";
@import "../components/arrow/arrow.less";
@import "../components/pagination/pagination.less";


@color_purple: #BC9CFF;
@color_purple_opaque: rgba(188, 156, 255, 0.5);
@color_blue: #8BA4F9;
@color_blue_opaque: rgba(139, 164, 249, 0.5);
@color_white: #ffffff;
@color_grey_opaque: rgba(31, 32, 65, 0.5);
@button_border_width: 2px;
@button_padding: 15px;
