@import "../components/button/button.less";
@import "../components/counter/counter.less";
@import "../components/materialicons/materialicons.less";
@import "../components/pagination/pagination.less";
@import "../components/rangeslider/rangeslider.less";
@import "../components/calendar/calendar.less";
@import "../components/input/input.less";
@import "../components/checkbox/checkbox.less";
@import "../components/checklist/checklist.less";
@import "../components/radio/radio.less";
@import "../components/radioblock/radioblock.less";






@color_purple: #BC9CFF;
@color_purple_opaque: rgba(188, 156, 255, 0.5);
@color_blue: #8BA4F9;
@color_blue_opaque: rgba(139, 164, 249, 0.5);
@color_white: #ffffff;
@color_grey_opaque: rgba(31, 32, 65, 0.5);
@color_grey_semiopaque: rgba(31, 32, 65, 0.75);
@color_light_green: #6FCF97;
@color_light_blue: #66D2EA;
@button_border_width: 2px;
@button_padding: 15px;
