$color_purple: #BC9CFF;
$color_purple_opaque: rgba(188, 156, 255, 0.5);
$color_blue: #8BA4F9;
$color_blue_opaque: rgba(139, 164, 249, 0.5);


$color_white: #ffffff;
$color_black: #000000;
$color_grey_lightopaque: rgba(31, 32, 65, 0.25);
$color_grey_opaque: rgba(31, 32, 65, 0.5);
$color_grey_semiopaque: rgba(31, 32, 65, 0.75);
$color_light_green: #6FCF97;
$color_light_blue: #66D2EA;
$button_border_width_thick: 2px;
$button_border_width_thin: 1px;
$button_padding: 15px;



$gradient: linear-gradient($color_purple 0%, $color_blue 100%);
$gradient_opaque: linear-gradient($color_purple_opaque 0%, $color_blue_opaque 100%);
$gradient_green: linear-gradient($color_light_green 0%, $color_light_blue 100%);

@mixin label($margin_bottom: 7px){
  @include font_h3;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-bottom: $margin_bottom;
}

@mixin card(){
  width: 380px;
  background: $color_white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@mixin font_h1(){
  font-family: "Quicksand Bold", Arial, sans-serif;;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

@mixin font_h2(){
  font-family: "Quicksand Bold", Arial, sans-serif;;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

@mixin font_h3(){
  font-family: "Montserrat Bold", Arial, sans-serif;;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
}

@mixin font_body(){
  font-family: "Montserrat", Arial, sans-serif;;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

@mixin font__Montserrat_lightgrey(){
  font-family: "Montserrat", Arial, sans-serif;;
  color: $color_grey_lightopaque;
}


@mixin font__Montserrat_grey(){
  font-family: "Montserrat", Arial, sans-serif;;
  color: $color_grey_opaque;
}

@mixin font__Montserrat_darkgrey(){
  font-family: "Montserrat", Arial, sans-serif;;
  color: $color_grey_semiopaque;
}


@mixin font__MontserratBold_grey(){
  font-family: "Montserrat Bold", Arial, sans-serif;;
  color: $color_grey_opaque;
}

@mixin font__MontserratBold_black(){
  font-family: "Montserrat Bold", Arial, sans-serif;;
  color: #1F2041;;
}




@import "../components/buttonwrapper/buttonwrapper.scss";
@import "../components/like/like.scss";
@import "../components/buttonlike/buttonlike.scss";
@import "../components/link/link.scss";
@import "../components/counter/counter.scss";
@import "../components/materialicons/materialicons.scss";
@import "../components/pagination/pagination.scss";
@import "../components/rangeslider/rangeslider.scss";
@import "../components/calendar/calendar.scss";
@import "../components/input/input.scss";
@import "../components/checkbox/checkbox.scss";
@import "../components/checklist/checklist.scss";
@import "../components/radio/radio";
@import "../components/radioblock/radioblock.scss";
@import "../components/action/action.scss";
@import "../components/toggle/toggle.scss";
@import "../components/starrating/starrating.scss";
@import "../components/info/info.scss";
@import "../components/feature/feature.scss";
@import "../components/feedback/feedback.scss";
@import "../components/bulletlist/bulletlist.scss";
@import "../components/card/card.scss";
@import "../components/calendarblock/calendarblock.scss";
@import "../components/slickslider/slickslider.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../pages/formElements/formElements.scss";
@import "../pages/cards/cards.scss";
@import "../pages/colorsType/colorsType.scss";
@import "../pages/headersFooters/headersFooters.scss";
@import "../components/logo/logo.scss";
@import "../components/menuitem/menuitem.scss";
@import "../components/button/button.scss";
@import "../components/dropdown/dropdown.scss";
@import "../components/label/label.scss";
@import "../components/slider/slider.scss";











