
@import "montserrat-bold.css";
@import "../components/btn/btn.less";
@import "../components/dropdown_guests/dropdown_guests.less";
@import "../components/dropdown_rooms/dropdown_rooms.less";


@color_purple: #BC9CFF;
@color_purple_opaque: rgba(188, 156, 255, 0.5);
//@color_purple_opaque: #bc9cff;
@color_blue: #8BA4F9;
@color_blue_opaque: rgba(139, 164, 249, 0.5);
//@color_blue_opaque: #8ba4f9;
@color_white: #ffffff;

@button_border_width: 2px;
@button_padding: 15px;