extends ../../pages/layout/layout.pug
block title
  title Registration
block content
  include ../../components/card/card.pug
  section(class="registration-page")
    div(class="form-wrapper")
      +card3()