.stars {
  font-size: 0px;
  margin-top: 10px;
}

.star {
  display: inline-block;
  background-image: url(img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s ease;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.star.active {
  background-image: url(img/star.svg);
  background-repeat: no-repeat;
}

.stars__wrapper {
  @include label();
}


