include ../../components/materialicons/materialicons.pug
mixin starrating()
  if !options
    - options = {}
  -
  div(class="stars")
    span(class="star active")
    span(class="star active")
    span(class="star active")
    span(class="star active")
    span(class="star")