extends index.pug
include ../components/button/button.pug
include ../components/counter/counter.pug
include ../components/pagination/pagination.pug
include ../components/rangeslider/rangeslider.pug
include ../components/calendar/calendar.pug
include ../components/input/input.pug
include ../components/checklist/checklist.pug
include ../components/radioblock/radioblock.pug
block variables
  -var type1 = "btn btn-purple"
block content
  +button({text: 'click me', backgroundcolor: 'whitebackground', length: 'medium'})
  +button({text: 'click me', backgroundcolor: 'whitebackground', length: 'long'})
  +button({text: 'click me', backgroundcolor: 'purplebackground', length: 'medium'})
  +button({text: 'click me', backgroundcolor: 'purplebackground', length: 'long', arrow: true})
  +button({backgroundcolor: 'whitebackground', length: 'short', like: true})
  +button({backgroundcolor: 'whitebackground', length: 'short', like: true})
  +button({text: 'click me', isplain: 'plain', color: 'purple'})
  +button({text: 'click me', isplain: 'plain', color: 'grey'})
  +counter({type: 'guests', cattype1: 'взрослые', cattype2: 'дети', cattype3: 'младенцы', counter1: 1, counter2: 0, counter3: 0, buttons: true, width: '320', text: 'Сколько гостей'})
  +counter({type: 'rooms', cattype1: 'спальни', cattype2: 'кровати', cattype3: 'ванные комнаты', counter1: 2, counter2: 2, counter3: 0, width: '266'})
  +pagination()
  +rangeslider({type: 'double', min: 1000, max: 15000, step: 1, from: 5000, to: 10000})
  +calendar({type: 'date'})
  +calendar({type: 'datefilter'})
  +input({type: 'subscription', icon: 'arrow', length: 'medium', text: 'E-mail'})
  +input({type: 'text', length: 'long', text: 'This is pretty awesome'})
  +checklist_expand()
  +checklist_rich()
  +checklist()
  +radioblock()