extends index.pug
include ../components/btn/btn.pug
block variables
  -var type1 = "btn btn-purple"
block content
  +button({text: 'click me', color: 'white', length: 'short'})
  +button({text: 'click me', color: 'white', length: 'long'})
  +button({text: 'click me', color: 'purple', length: 'short'})
  +button({text: 'click me', color: 'purple', length: 'long'})