extends index.pug
include ../components/button/button.pug
include ../components/dropdown/dropdown.pug
include ../components/pagination/pagination.pug
include ../components/rangeslider/rangeslider.pug
include ../components/calendar/calendar.pug
block variables
  -var type1 = "btn btn-purple"
block content
  +button({text: 'click me', backgroundcolor: 'whitebackground', length: 'short'})
  +button({text: 'click me', backgroundcolor: 'whitebackground', length: 'long'})
  +button({text: 'click me', backgroundcolor: 'purplebackground', length: 'short'})
  +button({text: 'click me', backgroundcolor: 'purplebackground', length: 'long', arrow: 'arrow'})
  +button({text: 'click me', isplain: 'plain', color: 'purple'})
  +button({text: 'click me', isplain: 'plain', color: 'grey'})
  +dropdown('взрослые', 'дети', 'младенцы', 'взрослый', 'взрослых', 'взрослых', 'ребенок', 'ребенка', 'детей', 'младенец', 'младенца', 'младенцев', '320', 'buttons')
  +dropdown('спальни', 'кровати', 'ванные комнаты', 'спальня', 'спальни', 'спален', 'кровать', 'кровати', 'кроватей', 'ванная комната', 'ванные комнаты', 'ванных комнат', '266')
  +pagination()
  +rangeslider({type: 'double', min: 1000, max: 15000, step: 1, from: 5000, to: 10000})
  +calendar('abc')