include ../../components/input/input.pug
include ../../components/action/action.pug
mixin calendar(options)
  if !options
    - options = {}
  -
    var label = options.label
  if (options.type=='date')
    + input({type: 'calendar', icon: 'tip', length: 'short', text: 'ДД.ММ.ГГГГ'})
  else if(options.type=='datefilter')
    + input({type: 'calendar', icon: 'tip', length: 'medium'})
  else if(options.type=='datefilter-range')
    + input({label: label, type: 'calendar-range', icon: 'tip', length: 'medium'})