include ../../components/input/input.pug
include ../../components/action/action.pug
mixin calendar(options)
  if !options
    - options = {}
  -
  if (options.type=='date')
    +input({type: 'calendar',input_type: 'datepicker-start', icon: 'tip', length: 'short', text: 'ДД.ММ.ГГГГ'})
  else if(options.type=='date1')
    +input({type: 'calendar',input_type: 'datepicker-end', icon: 'tip', length: 'short', text: 'ДД.ММ.ГГГГ'})
  else if(options.type=='datefilter')
    +input({type: 'calendar',input_type: 'calendar', icon: 'tip', length: 'medium'})
  else if(options.type=='datefilter-range')
    +input({type: 'calendar', input_type: 'datepicker-range', icon: 'tip', length: 'medium', text: 'new calendar'})
  else if (options.type=='datefilter-visible')
    +input({type: 'calendar', input_type: 'calendar-visible', icon: 'tip', length: 'medium'})
