
.datepicker{
  width: 320px;
  font-family:  "Quicksand Bold", Arial, sans-serif;

  &-input {
  width: 266px;
  height: 44px;
  overflow: hidden;
  border-radius: 0.3rem;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  }

  &--nav{
    &-title{
      height: 55px;
      font-size: 19px;
      color: $color_black;
      font-style: normal;
        &:hover{
        background-color: $color_white;
        cursor: default;
      }
      & i{
        font-size: 19px;
        color: $color_black;
        font-style: normal;
      }
    }
    &-action{
      &[data-action="prev"]{
        margin-left: 10px;
      }
      &[data-action="next"]{
        margin-right: 10px;
      }
      &:hover{
        background-color: $color_white;
      }
      &:first-child{
        position: relative;
        &:before{
          content: 'arrow_back';
          position: absolute;
          display: inline-block;
          font-family: "MaterialIcons";
          font-weight: normal;
          font-style: normal;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;
          user-select: none;  
          text-rendering: optimizeLegibility;
          font-feature-settings: 'liga';
          color: $color_purple;
          font-size: 24px;
          top: 14px;
          left: 5px;
        }
      }
      &:last-child{
        position: relative;
        &:after{
          content: 'arrow_forward';
          position: absolute;
          display: inline-block;
          font-family: "MaterialIcons";
          font-weight: normal;
          font-style: normal;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;
          user-select: none;  
          text-rendering: optimizeLegibility;
          font-feature-settings: 'liga';
          color: $color_purple;
          font-size: 24px;
          top: 14px;
          right: 0px;
          left: 1px;
      }
    }
  }
}



  &--button{
    &::after {
      display: block;
      content: '1';
      color: transparent;
      background-size: contain;
      }
  }

  &--cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color: #868686;
    border-radius: 50%;
    font-family:  "Montserrat", Arial, sans-serif;
    font-size: 12px;

      &:hover{
        background-color: $color_purple_opaque;
       }

      &::selection{
        background-color: $color_light_green;
      }
    }

  &--day-name{
    color: $color_purple;
  }
}

.-current-{
  background-color: $color_light_green;
  color: $color_white!important;
}

.-selected-{
  background-color: $color_purple!important;
  color: $color_white!important;
}

.datepicker-buttons{
  display: flex;
  justify-content: space-between;
  //height: 59px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 20px;


}

path{
  stroke: $color_white!important;
}
