.bulletlist{
  padding-left: 2px;
  
  &__row{
    display: flex;
    margin-bottom: 11px;
  }
  &__marker{
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background-color: $color_grey_lightopaque;
    border-radius: 50%;
  }
  &__label{
    @include font__Montserrat_grey;
    font-size: 14px;
    padding-left: 10px;
    width: 230px;
    line-height: 1.7;
  }
}