include ../../components/label/label.pug
mixin bulletlist(options={}, categories={})
  +label({label: options.label})
  each val in categories
    ul(class="bulletlist")
      li(class="bulletlist__row")
        div(class="bulletlist__marker")
        div(class="bulletlist__label")=val
