.header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: $color_white;
}

.header__logo{
  margin-left: 140px;
  margin-top: 13px;
  display: block;
}

.header__login{
  margin-top: 18px;
  margin-right: 140px;
  position: relative;
  width: 323px;
 }

.header__username{
  height: 30px;
  margin-right: 140px;
  @include font__Montserrat_grey;
  font-size: 14px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.header__innerwrapper{
  display: flex;
  justify-content: flex-end;
}

.header__enter{
 position: absolute;
    z-index: 90;
  right: 216px;
}

.header__register{
 position: absolute;
  right: 1px;
}



.header__burger{
  display: none;
  cursor: pointer;
}
.header__menu{

  margin-top: 13px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;

}



.header__list{
  display: flex;
  list-style: none;
}



@media screen and (max-width: 1200px){

  .header__login{
    margin-right: 10px;
  }


.header__logo{
  margin-left: 10px;
 }
}


@media screen and (max-width: 460px){


  .header__logo{
    display: none;
  }

  .header__login{
    margin-right: 0;
  }

  .header__innerwrapper{
    justify-content: center;
  }

  .header{
    justify-content: center;
  }

}


@media screen and (max-width: 950px){



  .header{
    justify-content: space-around;
   position: relative;
  }

  .header__logo{
    margin-left: 40px;
  }

  body.lock{
    overflow: hidden;
  }

  .header__burger{
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span{
    position: absolute;
    background-color: $color_black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.9s ease 0s;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: $color_black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .header__burger:before{
    top: 0;
    background-color: $color_black;
  }
  .header__burger:after{
    bottom: 0;
    background-color: $color_black;
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top:9px;
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{
    height: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: none;
    margin-top: -20px;
  }

  .header__menu.active{
    top:0;
    height: 100%;
    width: 100%;
    display: block;
    overflow: visible;
    padding-top: 70px;
    transition: all 0.5s linear 0s;
  }



  .header__list{

    display: block;
    background-color: $color_grey_opaque;
    //padding-top: 100px;
  }


  .header__list li{
    margin: 0 0 20px 0;
  }



}