include ../../components/buttonaction/buttonaction.pug
include ../../components/button/button.pug
include ../../components/materialicons/materialicons.pug
include ../../components/logo/logo.pug
include ../../components/menuitem/menuitem.pug
mixin header(options)
  if !options
    - options = {}
  -
    var isAuth = options.isAuthorized
  div(class="header-burger")
    span
  header(class="header")
    a(href="" class="header-logo")
      +logo()
    div(class="header-innerwrapper")
      nav(class="header-menu")
        ul(class="header-list")
          +menuitem({text: 'О нас'})
          +menuitem({text: 'Услуги', tip: true})
          +menuitem({text: 'Вакансии'})
          +menuitem({text: 'Новости'})
          +menuitem({text: 'Соглашения', tip: true})
      if (options.isAuthorized)
        div(class='header-username') Юлий Цезарь
      else
        div(class="header-login")
          +button({length: 'short', width: 'narrow', backgroundcolor: 'white', text: 'войти'})
          +button({length: 'mediumlength', width: 'narrow', backgroundcolor: 'purple', text: 'зарегистрироваться'})



