include ../../components/buttonaction/buttonaction.pug
include ../../components/materialicons/materialicons.pug
include ../../components/logo/logo.pug
include ../../components/menuitem/menuitem.pug
mixin header(options)
  if !options
    - options = {}
  -
    var isAuth = options.isAuthorized
  div(class="header__burger")
    span
  header(class="header")
    a(href="" class="header__logo")
      +logo()
    div(class="header__innerwrapper")
      nav(class="header__menu")
        ul(class="header__list")
          +menuitem({text: 'О нас'})
          +menuitem({text: 'Услуги', tip: true})
          +menuitem({text: 'Вакансии'})
          +menuitem({text: 'Новости'})
          +menuitem({text: 'Соглашения', tip: true})
      if (options.isAuthorized)
        div(class='header__username') Юлий Цезарь
      else
        div(class="header__login")
          div(class="header__enter")
            +buttonaction({color: 'white', length: 'mediumshort', width: 'mediumwide', text: 'войти', textcolor: 'purple'})
          div(class="header__register")
            +buttonaction({color: 'purple', length: 'longmedium', width: 'mediumwide', text: 'зарегистрироваться', textcolor: 'white'})



