include ../../components/buttonwrapper/buttonwrapper.pug
include ../../components/like/like.pug
mixin buttonlike(options={})
  -
  div(class="buttonlike__wrapper")= options.label
  +buttonwrapper({color: 'grey', length: 'short', width: 'narrow'})
    +like()