include ../../components/buttonwrapper/buttonwrapper.pug
include ../../components/like/like.pug
mixin buttonlike()
  if !options
    - options = {}
  -
  +buttonwrapper({color: 'grey', length: 'short', width: 'narrow'})
    +like()