.feedback{
  &__wrapper{
  display: flex;
  //margin-left: 5px;
 // border: 1px solid blue;
  position: relative;
  //max-width: 1200px;
  /* 	&-bottom{
  	margin-top: 12px;
  } */



 }

  &__info{
//width: 40px;
margin-left:  77px;
padding-top: 14px;
// border: 1px solid green;
   align-self: flex-start;


}

&__avatar{
	position: absolute;
}

&__like{
//border: 1px solid orange;
flex-basis:  75px;
	& .buttonwrapper {
		margin-left: 24px;
		margin-top: 13px;
	}
}

&__details{
//border: 1px solid blue;
    color: @color_grey_opaque;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  flex-basis:  650px;
  margin-top: 13px;
  line-height: 1.6;

}

}
 



/*    .feature{

 border: 1px solid green;
align-self: flex-start;

}   */



