.feedback{
  &__wrapper{
  display: flex;
  position: relative;
  max-width:  750px;
  white-space: break-spaces;
}

  &__info{
    margin-left:  77px;
    padding-top: 14px;
    align-self: flex-start;
  }

  &__avatar{
    position: absolute;
  }

  &__like{
    flex-basis:  75px;
    & .buttonwrapper {
      margin-left: 24px;
      margin-top: 9px;
    }
}

  &__details{
    @include font__Montserrat_grey;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 13px;
    line-height: 1.75;
  }
}
