.feedback {
	&__wrapper {
		display: flex;
		position: relative;
		max-width: 750px;
		//white-space: break-spaces;
	}

	&__info {
		margin-left: 58px;
		padding-top: 23px;
		align-self: flex-start;
		margin-bottom: 4px;
	}

	&__avatar {
		position: absolute;
		margin-top: 11px;
		width: 49px;
		display: flex;
		justify-content: center;
	}

	&__like {
		flex-basis: 49px;
		& .buttonwrapper {
			margin-left: 5px;
			margin-top: 5px;
		}
	}

	&__details {
		@include font__Montserrat_grey;
		font-size: 14px;
		margin-top: 11px;
		margin-left: 14px;
		line-height: 1.75;
		width: 100%;
	}
}
