include ../../components/info/info.pug
include ../../components/buttonlike/buttonlike.pug

mixin feedback(options)
  if !options
    - options = {}
  -
    var icon = options.icon
    var headertext = options.name
    var bodytext = options.date
  div(class="feedback__wrapper")
    div(class="feedback__avatar")
      img(src="../images/murad.svg")
    div(class="feedback__info")
      +info({headertext: headertext, bodytext: bodytext})
  div(class="feedback__wrapper")
    div(class="feedback__like")
      +buttonlike()
    div(class="feedback__details")= options.text
