mixin checkbox(options={})
  -
  li(class="checkbox__wrapper")
    label(class="checkmark__wrapper")
      input(type="checkbox")
      span(class="checkmark") 
    div(class="label__wrapper")
      div(class=options.toplabel)= options.toptext
      if options.labelbottom === true
        div(class="label-bottom")= options.bottomtext
