.footer{

  background-color: $color_white;
 // border: 1px solid green;
  &-bottom{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
      margin-top: 28px;
     // margin-left: 10%;
      margin-left: auto;
      //margin-right: 10%;
      margin-right: auto;
      margin-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;

  }

  &-delimiter{
    height: 1px;
    background-color: $color_grey_lightopaque;
  }

  &-lists {
    max-width: 1440px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;

   // border-bottom: 1px solid $color_grey_lightopaque;

  }

  &-list{

    @include font__Montserrat_darkgrey;
    font-weight: bolder;


    &:nth-child(1) {
      padding-left: 2px!important;
      margin-left: 9.5%;
      max-width: 254px;

    //  border: 1px solid blue;
    }

    &:nth-child(2) {
      padding-left: 46px!important;
      flex-grow: 1;
      white-space: nowrap;
      margin-top: 4px!important;
    }

    &:nth-child(3) {
     padding-left: 5px!important;
     flex-grow: 1;
      white-space: nowrap;
      margin-top: 5px!important;
   }

    &:nth-child(4) {
  padding-left: 42px!important;
  flex-grow: 1;
      white-space: nowrap;
      margin-top: 5px!important;
}


    &:nth-child(5) {
      padding-left: 5px!important;
     margin-right: 9%;
     max-width: 272px;
      margin-top: 5px!important;
    }
  }

}

.footer-list__text{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  line-height: 1.65;
}

.menuitem:nth-child(3){
 // border: 1px solid red!important;
}


.footer-media{
  display: flex;
  width: 107px;
  //border: 1px solid red;
  justify-content: space-between;
}
.footer-copyright{
  @include font__Montserrat_darkgrey;
  font-size: 14px;
}
.media{

  &-item{
    list-style: none;

  }
}


/*@media screen and (min-width: 3840px){
  .footer-bottom{

    margin-left: auto;
    margin-right: auto;

  }
}*/

@media screen and (max-width: 1310px){
  .footer{
   // padding-right: 10px;
 //   padding-left: 10px;

  &-list{
    margin-left: 10px!important;
    margin-right: 10px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;

  }
  &-bottom{
    margin-left: 10px!important;
    margin-right: 10px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;

  }
 }
}


@media screen and (max-width: 1035px){
  .footer{
    height: 368px;
   // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;

      &-delimiter{
        display: none;
      }
  }

ul.footer-list, .footer-list__text{
  display: none;
}

div.footer-list:nth-child(1){
  margin: 0 auto;
}
  .footer-lists{
    border: none;
    justify-content: center;
    padding-bottom: 20px;
  }
  .footer-bottom{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

  }

  .footer-media{
    margin-top: 25px!important;
  }


}

