mixin toggle(options)
  if !options
    - options = {}
  -
  div(class="toggle__wrapper")= options.label
  label(class="togglemark__wrapper")
    input(type="checkbox" checked="checked")
    span(class="togglemark")
    label(class="togglemark__label")= options.labeltext