.togglemark__label{
 // color: $color_grey_opaque!important;
  @include font__Montserrat_darkgrey;
  display: block;
  font-size: 14px;
  margin-left: 13px;
}

/* Customize the label (the container) */
.togglemark__wrapper {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default toggle button */
.togglemark__wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom toggle button */
.togglemark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  background-color: $color_white;
  border: 1px solid $color_grey_lightopaque;
  border-radius: 22px;
  box-sizing: border-box;
}

.togglemark__wrapper input:checked ~ .togglemark {
  background-color: $color_white;
  border: 1px solid $color_purple;
}
/*
.togglemark__wrapper input:checked ~ .togglemark ~ .togglemark__label {
  color: $color_purple;
}*/


/* Create the indicator (the dot/circle - hidden when not checked) */
.togglemark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.togglemark__wrapper input:checked ~ .togglemark:after {
  display: block;
  background-color: $color_purple;
  left: 23px;
  top: 3px;
}


/* Show the indicator (dot/circle) when checked */
.togglemark__wrapper input ~ .togglemark:after {
  display: block;
  background-color: $color_grey_lightopaque;
}

/* Style the indicator (dot/circle) */
.togglemark__wrapper .togglemark:after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $color_purple;
  left: 3px;
  top: 3px;
}

.toggle__wrapper{
  @include label();
}